.result-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
  width: 400px;
  background-color: var(--result-item-background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.result-item h3 {
  margin: 0 0 10px;
  text-align: center;
}

.attributes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.attributes-grid p {
  background-color: var(--result-attributes-grid-background);
  padding: 5px;
  border-radius: 4px;
  margin: 0;
}

[data-theme='light'] {
  --result-item-background: #fff;
	--result-attributes-grid-background: #cdd3ee;
}

[data-theme='dark'] {
  --result-item-background: #333;
	--result-attributes-grid-background: #7d8195;
  --result-item-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
