.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  padding: 10px;
  background-color: rgb(130, 130, 229);
  display: flex;
  justify-content: end;
  align-items: center;
}

.bottom-section {
  flex: 4;
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
}

.content-section {
  display: flex;
}

.left-section,
.right-section {
  flex: 1;
}

.right-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}