.not-found-page {
  text-align: center;
  margin-top: 50px;
}

.not-found-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.not-found-page p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.not-found-page a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.25rem;
}

.not-found-page a:hover {
  text-decoration: underline;
}
